<table>
  <thead>
    <tr>
      <th>NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rowArray; let i=index">
      <td *ngFor="let field of fieldArray;let j = index">
        <input class="form-control" type="text" name="{{field.name}}">
      </td>
      <td>
        <input class="form-control" type="text" id="newAttribute" name="newAttribute" />
      </td>
      <td>
        <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">DeleteColumn</button>
      </td>
      <td>
        <button class="btn btn-default" type="button" (click)="addFieldValue()">AddColumn</button>
    </td>
    </tr>
    <tr>
        <td>
            <input class="form-control" type="text" id="newRow" name="newRow" />
          </td>
      <td>
        <button class="btn btn-default" type="button" (click)="deleteRowValue(i)">DeleteRow</button>
      </td>
      <td>
        <button class="btn btn-default" type="button" (click)="addRowValue()">AddRow</button>
    </td>
    </tr>
  </tbody>
</table>
